@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Roboto+Mono:400,400i,700,700i&subset=latin-ext');

.related { display: none; }

html {
    font-size: 20px;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    margin: 0;
}

body {
    margin: 0 auto;
    max-width: 33rem;

    font-size: 15px;
    line-height: 1rem;
}

code, pre {
    font-family: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
}

h2 {
    margin-top: 2rem;
    border-bottom: 2px solid #aaa;
    background-color: white;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
}

#contents > div.container > ul {
    list-style: none;
    padding-left: 0;
}

#contents > div.container p {
    margin-bottom: 0;
}

dl.class {
    margin: 1rem 0;
}

li > p:only-child {
    margin: 0;
}

p code {
    background-color: #e7e7e7;
}

a:not(:hover) {
    text-decoration: none;
}

pre {
    border: 1px solid #33333333;
    border-radius: 2px;
    padding: 0.25rem;
}

div.footer {
    border-top: 2px solid #aaa;
}
