name: Publish Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    name: Create and publish release
    env:
      GH_TOKEN: ${{ github.token }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build wheel
        run: |
          uv build --wheel
          wheel=$(ls dist/*.whl)
          cp $wheel ${wheel/-py3-/-py33-}
          mv $wheel ${wheel/-py3-/-py38-}

      - name: Create release & upload wheel
        run: gh release create --generate-notes --latest -t "$GITHUB_REF_NAME" "$GITHUB_REF_NAME" dist/*.whl
